// Colors
$background-color: rgba(91, 190, 125, 0.71);;
$primary-btn-color: #1a975b;
$secondary-btn-color: #103c27;
$input-color: #baffde;
$placeholder-color: #002e12;
$control-box-color: #5BBE7D;
$canvas-color: #D9D9D9;

// Fonts
$primary-font: Roboto;

// Transition
$transition: .2s